src/main/resources/2_diamond_fund/diamond.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Gem" type="GemType"/>
  <xs:complexType name="VisualParametersType">
    <xs:sequence>
      <xs:element name="Color">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="White"/>
            <xs:enumeration value="Green"/>
            <xs:enumeration value="Purple"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Transparency">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="80"/>
            <xs:enumeration value="90"/>
            <xs:enumeration value="70"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Facets">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="57"/>
            <xs:enumeration value="15"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StoneType">
    <xs:sequence>
      <xs:element name="Name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Diamond"/>
            <xs:enumeration value="Emerald"/>
            <xs:enumeration value="Amethyst"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Preciousness">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Precious"/>
            <xs:enumeration value="Semi-precious"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Origin">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="South Africa"/>
            <xs:enumeration value="Colombia"/>
            <xs:enumeration value="Brazil"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="VisualParametersType" name="VisualParameters"/>
      <xs:element name="Value">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.5"/>
            <xs:enumeration value="0.75"/>
            <xs:enumeration value="0.4"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GemType" mixed="true">
    <xs:sequence>
      <xs:element type="StoneType" name="Stone" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>